* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #BBB7BB;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


/* Izquierda column */
.izquierdacolumn {   
  float: left;
  width: 75%;
}

/* Derecha column */
.derechacolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* images */
.imgs {

  width: 100%;
  padding: 20px;
}

.imgs1 {
  width:300px;
  height:200px;

}

.imgs2 {
  width:100px;
  height:100px;

}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 30px;
   margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

